.wrapper{
    z-index: 10;
}
main{
    padding: 0rem 3rem;
}
main .site-note{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    background-color: white;
    color: #000;
    padding: 1.66rem;
    margin: 0 0 1.2rem;
    align-items: center;
    border-radius: 8px;
}
.site-note a{
    margin-top: 7px;
    margin-left: -2px;
}
.site-note div a{
    color: #0089c7;
    text-decoration: none;
}
.site-note a:hover{
    opacity: .66;
}
main a img{
    max-width: 100%;
}
.site-note div {
    font-size: 15.36px;
    letter-spacing: .4px;
}
main a img{
    max-width: 100%;
}
.page-title{
    font-size: 51.2px; 
    margin: 0px 0px 31.04px;

}
main .articles-and-sidebar{
    display: grid;
    grid-template-columns: minmax(0, 1fr) 300px;
    gap: 3rem;
}
.articles-and-sidebar .article-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 3rem;
    margin: 0 0 3rem;
}
.article-grid article{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.article-grid article .video-thumbnail{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100%;
}
.article-grid article a:hover{
    opacity: .66;
}
.article-grid .video-info{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
article img{
    width: 100%;
    height: auto;
}
article div{
    background-color: white;
    color: #111;
}
.video-info h2{
    font-size: 32.4px;
    line-height: 1.1;
    margin: 0px 0px .25rem;
}
.video-info h2 a{
    text-decoration: none;
    color: #000;
}
.video-info .guide-time, .guide-excerpt{
    font-size: 16.2px;
    margin: 0 0 1.5rem;
}
.guide-excerpt p{
    margin: 0 0 1.5rem;
}
.guide-excerpt p a{
    color: #0089c7;
    text-decoration: none;
}
.guide-excerpt span{
    text-decoration: line-through;
}
.video-info .button{
    display: flex;
    justify-content: center;
    background-color: #5e5e5e;
    border-radius: 4px;
    margin-top: auto;
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.video-info .button:hover{
    opacity: .66;
}
.breadcrumbs div{
    width: 100%;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.breadcrumbs div ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.breadcrumbs div li a{
    padding: 0rem .5rem;
    font-weight: 700;
    margin-right: .25rem;
    text-decoration: none;
    color: #bebebe;
}
.breadcrumbs div .active-page a{
    color: #fff;
}
.breadcrumbs .breadcrumbs-next-page a{
    display: flex;
    align-items: center;
    color: #fff;
}
.breadcrumbs div .breadcrumbs-next-page img{
    transform: rotate(270deg);
    margin-left: 1rem;
    width: 18px;
}
.sidebar-container{
    display: flex;
}
.sidebar .adverts{
    padding: .5rem;
    margin: 0 0 3rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 8px;
}
.adverts .interlude{
    padding: 1rem;
}
.adverts .interlude:hover{
    opacity: .66;
}
.adverts .interlude a{
    color: #434343;
    text-decoration: none;
    font-size: 12px;
}
.adverts .module img{
    width: 100%;
    height: auto;
    transition: transform .15s;
    overflow: hidden;
}
.adverts .module img:hover{
    transform: translate(-.1rem, -.5rem ) rotate(-2deg);
    z-index: 999;
    opacity: .7;
}
.article-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 3rem;
    margin: 0 0 3rem; 
}
.article-grid .video-card{
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.video-card a:hover{
    opacity: .66;
}
.article-grid .video-thumb img{
     width: 100%;
     height: auto;
     border-radius: 5px;
}
.article-grid .video-info{
    color: #262626;
    padding: 1.5rem;
    flex: 1;
}
.video-info h2 a{
    color: black;
    text-decoration: none;
}
 .video-card.button{
    display: flex;
    justify-content: center;
    background-color: #5e5e5e;
    border-radius: 4px;

}
.video-card .button:hover{
    opacity: .66;
}
.button a{
    padding: 1rem 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.button a:hover{
    opacity: 1;
}
@media (min-width:300px) and (max-width:799px){
    header{
        padding: 15px 20px 0px;
        margin: 0 0 1rem;
    }
    header .header-nav-area nav ul {
        overflow-x: scroll;
        text-wrap: nowrap;
    }
    main{
        padding: 1em;
    }
    main .site-note{
        flex-direction: column;
    }
    .page-title{
        font-size: 20.4px;
    }
    main .articles-and-sidebar{
        gap: 0px;
    }
    .articles-and-sidebar .article-grid{
        gap: 1rem;
    }
    .sidebar-container{
        display: none;
    }
    .video-info .button a{
        width: max-content;
    }
    .breadcrumbs div ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    footer{
        padding: 20px 1rem 2rem;
    }
    footer .icon-logo-star{
        top: -115px;
    }
    footer .footer-message-and-link{
        grid-template-columns: 1fr;
    }
    footer .link-grid{
        grid-template-columns: 1fr;
    }
    .footer-message-and-link .desktop-view{
        display: none;
    }
}